<?xml version="1.0" encoding="UTF-8"?>
<pdf:template>
	{{! 公路赔（补）偿案件现场笔录 }}
	<pdf:paper width="595.276" height="841.89" fontName="SimSun" fontSize="10.5" offset="0,0" />
	<pdf:content>
		<pdf:text point="79,25" fontName="SimHei" fontSize="20.5" maxWidth = "54">现  场  笔  录</pdf:text>
        <pdf:table rect = "{31,39},{150,225}" borderWidth = "1.0" lineWidth = "0.5" padding = "1">
            <pdf:tr height = "17">
                <pdf:td width = "13">执法\n地点</pdf:td>
                <pdf:td width = "58" static = "NO">{{ location }}</pdf:td>
                <pdf:td width = "40" textAlignment = "center">执法时间</pdf:td>
                <pdf:td width = "39">
                    <pdf:text point = "top-left:1,2" static = "NO">{{ date.year }}</pdf:text>
                    <pdf:text point = "top-left:9,2">年</pdf:text>
                    <pdf:text point = "top-left:14,2" static = "NO">{{ date.month }}</pdf:text>
                    <pdf:text point = "top-left:20,2">月</pdf:text>
                    <pdf:text point = "top-left:25,2" static = "NO">{{ date.day }}</pdf:text>
                    <pdf:text point = "top-left:31,2">日</pdf:text>
                    <pdf:text point = "top-left:10,10.5" static = "NO">{{ date.hour }}</pdf:text>
                    <pdf:text point = "top-left:15.5,10.5">时</pdf:text>
                    <pdf:text point = "top-left:20,10.5" static = "NO">{{ date.minute }}</pdf:text>
                    <pdf:text point = "top-left:24,10.5">分</pdf:text>
                    </pdf:td>
                </pdf:tr>
            <pdf:tr height = "34">
                <pdf:td width = "13" textAlignment = "center">执法\n\n人员</pdf:td>
                
                <pdf:td width = "29">
                    <pdf:table rect = "{0,0},{29,34}" borderWidth = "1.0" lineWidth = "0.5" padding = "1">
                        <pdf:tr height = "11.33">
                            <pdf:td width = "29" static = "NO">{{ recordData.enforcerName1 }}</pdf:td>
                        </pdf:tr>
                        <pdf:tr height = "11.33">
                            <pdf:td width = "29" static = "NO">{{ recordData.enforcerName2 }}</pdf:td>
                        </pdf:tr>
                        <pdf:tr height = "11.34">
                            <pdf:td width = "29" static = "NO">{{ recordData.enforcerName3 }}</pdf:td>
                        </pdf:tr>
                        </pdf:table>
                </pdf:td>
                <pdf:td width = "29" textAlignment = "center">执法证号</pdf:td>
                <pdf:td width = "40">
                    <pdf:table rect = "{0,0},{40,34}" borderWidth = "1.0" lineWidth = "0.5" padding = "1">
                        <pdf:tr height = "11.33">
                            <pdf:td width = "40" static = "NO">{{ recordData.enforcerNumber1 }}</pdf:td>
                        </pdf:tr>
                        <pdf:tr height = "11.33">
                            <pdf:td width = "40" static = "NO">{{ recordData.enforcerNumber2 }}</pdf:td>
                        </pdf:tr>
                        <pdf:tr height = "11.33">
                            <pdf:td width = "40" static = "NO">{{ recordData.enforcerNumber3 }}</pdf:td>
                        </pdf:tr>
                    </pdf:table>
                </pdf:td>
                <pdf:td width = "17.5" textAlignment = "center">记录人</pdf:td>
                <pdf:td width = "21.5" textAlignment = "center" static = "NO">{{ recordData.enforceRecorder }}</pdf:td>
            </pdf:tr>
            <pdf:tr height = "55">
                <pdf:td width = "13" textAlignment = "center">现场\n\n人员\n\n基本\n\n情况</pdf:td>
                
                <pdf:td width = "137">
                    <pdf:table rect = "{0,0},{137,55}" borderWidth = "1.0" lineWidth = "0.5" padding = "1">
                        <pdf:tr height = "10">
                            <pdf:td width = "29" textAlignment = "center">姓  名</pdf:td>
                            <pdf:td width = "46" textAlignment = "center" static = "NO">{{ spoter.spoterName }}</pdf:td>
                            <pdf:td width = "23" textAlignment = "center">项目名称</pdf:td>
                            <pdf:td width = "39" textAlignment = "center" static = "NO">{{ spoter.spoterProjectName }}</pdf:td>
                        </pdf:tr>
                        <pdf:tr height = "16">
                            <pdf:td width = "29" textAlignment = "center">身份证号</pdf:td>
                            <pdf:td width = "46" textAlignment = "center" static = "NO" maxWidth = "42">{{ spoter.spoterID }}</pdf:td>
                            <pdf:td width = "23" textAlignment = "center">与案件关系</pdf:td>
                            <pdf:td width = "39" textAlignment = "center" static = "NO">{{ spoter.spoterNexus }}</pdf:td>
                        </pdf:tr>
                        <pdf:tr height = "12">
                            <pdf:td width = "29" textAlignment = "center">单位及职务</pdf:td>
                            <pdf:td width = "46" textAlignment = "center" static = "NO" maxWidth = "42">{{ spoter.spoterCompanyAndDuty }}</pdf:td>
                            <pdf:td width = "23" textAlignment = "center">联系电话</pdf:td>
                            <pdf:td width = "39" textAlignment = "center" static = "NO">{{ spoter.spoterPhoneNumber }}</pdf:td>
                        </pdf:tr>
                        <pdf:tr height = "8">
                            <pdf:td width = "29" textAlignment = "center">联系地址</pdf:td>
                            <pdf:td width = "108" textAlignment = "center" static = "NO" maxWidth = "103">{{ spoter.spoterAddress }}</pdf:td>
                        </pdf:tr>
                        <pdf:tr height = "9">
                            <pdf:td width = "29" textAlignment = "center">车（船）号</pdf:td>
                            <pdf:td width = "46" textAlignment = "center" static = "NO">{{ spoter.spoterAutomobileNumber }}</pdf:td>
                            <pdf:td width = "23" textAlignment = "center">车（船）型</pdf:td>
                            <pdf:td width = "39" textAlignment = "center" static = "NO">{{ spoter.spoterAutomobilePattern }}</pdf:td>
                        </pdf:tr>
                    </pdf:table>
                </pdf:td>
            </pdf:tr>
            <pdf:tr height = "119">
                <pdf:td width = "13" textAlignment = "center">主\n\n要\n\n内\n\n容</pdf:td>
                <pdf:td width = "137">
                    <pdf:table rect = "{0,0},{137,119}" borderWidth = "1.0" lineWidth = "0.5" padding = "1">
                    <pdf:tr height = "97">
                        <pdf:td width = "137">
                            <pdf:text point = "top-left:10,5.5" maxWidth = "29">在检查中发现：</pdf:text>
                            <pdf:line fromPoint = "40,9.5" toPoint = "135,9.5" lineWidth = "0.5" />
                            <pdf:line fromPoint = "2,17.7" toPoint = "135,17.7" lineWidth = "0.5" />
                            <pdf:line fromPoint = "2,25.9" toPoint = "135,25.9" lineWidth = "0.5" />
                            <pdf:line fromPoint = "2,34.1" toPoint = "135,34.1" lineWidth = "0.5" />
                            <pdf:line fromPoint = "2,42.3" toPoint = "135,42.3" lineWidth = "0.5" />
                            <pdf:line fromPoint = "2,50.5" toPoint = "135,50.5" lineWidth = "0.5" />
                            <pdf:line fromPoint = "2,58.7" toPoint = "135,58.7" lineWidth = "0.5" />
                            <pdf:line fromPoint = "2,66.9" toPoint = "135,66.9" lineWidth = "0.5" />
                            <pdf:paragraph rect = "{3,0},{130,62}" lineHeight = "7.95" static = "NO">{{ content }}</pdf:paragraph>
                            <pdf:text point = "top-left:10,71" maxWidth = "110">上述笔录我已看过（或已向我宣读过），情况属实无误。</pdf:text>
                            <pdf:text point = "top-left:80,79.5" maxWidth = "25">当事人签名：</pdf:text>
                            <pdf:text point = "top-left:93,88" maxWidth = "15">时间：</pdf:text>
                            </pdf:td>
                        </pdf:tr>
                    <pdf:tr height = "11">
                        <pdf:td width = "137">
                            <pdf:text point = "top-left:2,3.5" maxWidth = "13">备注：</pdf:text>
                            <pdf:text point = "top-left:15,3.5" maxWidth = "120">{{ remark }}</pdf:text>
                            </pdf:td>
                        </pdf:tr>
                    <pdf:tr height = "11">
                        <pdf:td width = "137">
                            <pdf:text point = "top-left:2,3.5" maxWidth = "28">执法人员签名：</pdf:text>
                            <pdf:line fromPoint = "32,7.5" toPoint = "55,7.5" lineWidth = "0.5" />
                            <pdf:line fromPoint = "61,7.5" toPoint = "84,7.5" lineWidth = "0.5" />
                            <pdf:text point = "top-left:93,3.5" maxWidth = "13">时间：</pdf:text>
                            </pdf:td>
                    </pdf:tr>
                        </pdf:table>
                    </pdf:td>
                </pdf:tr>
		</pdf:table>
	</pdf:content>
</pdf:template>
