<?xml version="1.0" encoding="UTF-8"?>
<pdf:template>
	{{! 公路赔（补）偿案件询问笔录 }}
	<pdf:paper width="595.276" height="841.89" fontName="SimSun" fontSize="10.5" offset="1,-4" />
	<pdf:content>
		<pdf:text point="88,29" fontName="SimHei" fontSize="20.5">询问笔录</pdf:text>
		<pdf:text point="30,50">时间：</pdf:text>
        <pdf:text point="40,50" static="NO">{{ caseInquire.date }}</pdf:text>
        <pdf:line fromPoint="40,55" toPoint="100,55" lineWidth="0.5"/>
		<pdf:text point="100,50">地点：</pdf:text>
        <pdf:text point="110,50" static="NO">{{ caseInquire.place}}</pdf:text>
        <pdf:line fromPoint="110,55" toPoint="180,55" lineWidth="0.5"/>
        
        <pdf:text point="30,60">询问人：</pdf:text>
        <pdf:text point="45,60" static="NO">{{ caseInquire.inquirerName }}</pdf:text>
        <pdf:line fromPoint="46,65" toPoint="100,65" lineWidth="0.5"/>
        <pdf:text point="100,60">记录人：</pdf:text>
        <pdf:text point="115,60" static="NO">{{ caseInquire.recorderName }}</pdf:text>
        <pdf:line fromPoint="116,65" toPoint="180,65" lineWidth="0.5"/>
        
        <pdf:text point="30,70">被询问人：</pdf:text>
        <pdf:text point="50,70" static="NO">{{ caseInquire.answererName }}</pdf:text>
        <pdf:line fromPoint="50,75" toPoint="100,75" lineWidth="0.5"/>
        <pdf:text point="100,70">与案件关系：</pdf:text>
        <pdf:text point="125,70" static="NO">{{ caseInquire.answererRelation }}</pdf:text>
        <pdf:line fromPoint="125,75" toPoint="180,75" lineWidth="0.5"/>
        
        <pdf:text point="30,80">身份证号：</pdf:text>
        <pdf:text point="50,80" static="NO">{{ caseInquire.card }}</pdf:text>
        <pdf:line fromPoint="50,85" toPoint="100,85" lineWidth="0.5"/>
        <pdf:text point="100,80">联系电话：</pdf:text>
        <pdf:text point="120,80" static="NO">{{ caseInquire.answererPhoneNum }}</pdf:text>
        <pdf:line fromPoint="120,85" toPoint="180,85" lineWidth="0.5"/>
        
        <pdf:text point="30,90">工作单位及职务：</pdf:text>
        <pdf:text point="60,90" static="NO">{{ caseInquire.answererOrgDuty }}</pdf:text>
        <pdf:line fromPoint="60,95" toPoint="180,95" lineWidth="0.5"/>
        <pdf:text point="30,100">详细地址：</pdf:text>
        <pdf:text point="50,100" maxWidth="140" static="NO">{{ caseInquire.answererAddress }}</pdf:text>
        <pdf:line fromPoint="50,105" toPoint="180,105" lineWidth="0.5"/>
        
        <pdf:text point="30,110">我们是</pdf:text>
        <pdf:line fromPoint="45,115" toPoint="115,115" lineWidth="0.5"/>
        <pdf:text point = "45,110" maxWidth = "70" static = "NO">{{ caseInquire.orgName }}</pdf:text>
        <pdf:text point="115,110">执法人员</pdf:text>
        <pdf:line fromPoint="130,115" toPoint="175,115" lineWidth="0.5"/>
        <pdf:text point = "130,110" maxWidth = "45" static = "NO">{{ caseInquire.inquirerAndRecorder }}</pdf:text>
        <pdf:text point="175,110">,现</pdf:text>
        <pdf:text point="30,118.5">在依法向你询问，请如实回答所问问题，否则将依法承担法律责任。</pdf:text>
        <!--<pdf:paragraph rect="{30,135},{150,120}" lineHeight="9.5" static="NO">
            {{ caseInquire.inquireNote }}
        </pdf:paragraph>-->
<!--        <pdf:text point = "30,140">问：我们是广东省公路事务中心北二环高速公路路政大队的路政员，现就损坏路产一案作一</pdf:text>-->
        <pdf:line fromPoint = "37,131" toPoint = "180,131" lineWidth = "0.5"/>
<!--        <pdf:text point = "30,148.2">下询问，请如实提供情况。</pdf:text>-->
        <pdf:line fromPoint = "30,139.2" toPoint = "180,139.2" lineWidth = "0.5"/>
        <!--改为获取得到第一个问题-->
        <pdf:paragraph rect = "{30,124},{150,20}" static = "NO" lineHeight = "8.2" indent = "10">{{ caseInquire.inquireNotequestionone }}</pdf:paragraph>
        <!--<pdf:text point = "30,156.4">答：</pdf:text>-->
        <pdf:paragraph rect = "{30,140},{150,20}" static = "NO" lineHeight = "8.2" indent = "10">{{ caseInquire.inquireNote1 }}</pdf:paragraph>
        <pdf:line fromPoint = "37,147.4" toPoint = "180,147.4" lineWidth = "0.5"/>
        <pdf:line fromPoint = "30,155.6" toPoint = "180,155.6" lineWidth = "0.5"/>
        <pdf:text point = "30,159.8">问：什么原因导致事故的发生造成路产的损失？</pdf:text>
        <pdf:line fromPoint = "37,163.8" toPoint = "180,163.8" lineWidth = "0.5"/>
        <!--<pdf:text point = "30,181">答：</pdf:text>-->
        <pdf:paragraph rect = "{30,164.5},{150,20}" static = "NO" lineHeight = "8.2" indent = "10">{{ caseInquire.inquireNote2 }}</pdf:paragraph>
        <pdf:line fromPoint = "37,172" toPoint = "180,172" lineWidth = "0.5"/>
        <pdf:line fromPoint = "30,180.2" toPoint = "180,180.2" lineWidth = "0.5"/>
        <pdf:text point = "30,184.4">问：有没人员伤亡？</pdf:text>
        <pdf:line fromPoint = "37,188.4" toPoint = "180,188.4" lineWidth = "0.5"/>
        <!--<pdf:text point = "30,205.6">答：</pdf:text>-->
        <pdf:paragraph rect = "{30,189},{150,10}" static = "NO" lineHeight = "8.2" indent = "10">{{ caseInquire.inquireNote3 }}</pdf:paragraph>
        <pdf:line fromPoint = "37,196.6" toPoint = "180,196.6" lineWidth = "0.5"/>
        <pdf:text point = "30,200.8">问：现根据《中华人民共和国公路法》第七条、《广东省公路条例》第十七条、《广东省高</pdf:text>
        <pdf:line fromPoint = "37,204.8" toPoint = "180,204.8" lineWidth = "0.5"/>
        <pdf:text point = "30,209">速公路管理条例》第二十五条的有关条款规定对你损坏路产的行为依法作出索赔，请问还有</pdf:text>
        <pdf:line fromPoint = "30,213" toPoint = "180,213" lineWidth = "0.5"/>
        <pdf:text point = "30,217.2">无其他补充？</pdf:text>
        <pdf:line fromPoint = "30,221.2" toPoint = "180,221.2" lineWidth = "0.5"/>
        <!--<pdf:text point = "30,238.4">答：</pdf:text>-->
        <pdf:paragraph rect = "{30,222},{150,30}" static = "NO" lineHeight = "8.2" indent = "10">{{ caseInquire.inquireNote4 }}</pdf:paragraph>
        <pdf:line fromPoint = "37,229.4" toPoint = "180,229.4" lineWidth = "0.5"/>
        <pdf:line fromPoint = "30,237.6" toPoint = "180,237.6" lineWidth = "0.5"/>
        <pdf:line fromPoint = "30,245.8" toPoint = "180,245.8" lineWidth = "0.5"/>

        
        <pdf:text point="30,250">询问人签名：</pdf:text>
        <pdf:line fromPoint="60,254" toPoint="100,254" lineWidth="0.5"/>
        <pdf:text point="100,250" fontSize="14">、</pdf:text>
        <pdf:line fromPoint="103,254" toPoint="143,254" lineWidth="0.5"/>
        <pdf:text point="143,250" fontSize="14">、</pdf:text>
        <pdf:line fromPoint="145,254" toPoint="180,254" lineWidth="0.5"/>
        <pdf:text point="30,258.2">被询问人签名及时间：</pdf:text>
        <pdf:line fromPoint="70,262.5" toPoint="180,262.5" lineWidth="0.5"/>
        
        
	</pdf:content>
</pdf:template>
